:root {
    --primary-color: #f2f5f6;       /* Azul oscuro profesional */
    --secondary-color: #f2f5f6  ;     /* Marrón tierra para acentos */
    --text-color: #333333;
    --background-light: #f0f0e9;
    --white: #fcfcfc;
    --success-color: #4CAF50;
    --error-color: #f44336;
  }