
.aboutSection {
  margin-top: 2px;
  background-color: #f4f7fb;
  color: #1d1e20;
  padding: 2rem;
  text-transform: none;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.aboutSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e53935;
  clip-path: polygon(0 0, 0 100%, 50% 100%);
  z-index: 0;
}

.aboutSection>*{
  position: relative;
  z-index: 1;
}

.aboutContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.imageContainer {
  position: relative;
  max-width: 50%;
}

.mainImage {
  filter: brightness(0.85) contrast(1.1);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  filter: brightness(0.95) contrast(1.05);
  height: 60vh;
}

.textContainer {
  width: 35vw;
  text-align: justify;
}

.aboutHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutHeading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 780px) {
  .textContainer {
    width: 100%;
  }

  .imageContainer {
    display: none;
  }
}