.cardsContainer{
    display: flex;
    justify-content: center;
    height: max-content;
}

.PracticeAreasSection {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    grid-template-columns: 1fr; /* Mobile-first: 1 tarjeta por fila */
    background-color: var(--secondary-color);
}

/* Tablet (2 tarjetas por fila) */
@media (min-width: 600px) {
    .PracticeAreasSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pantallas grandes (máximo 3 tarjetas por fila) */
@media (min-width: 1024px) {
    .PracticeAreasSection {
        grid-template-columns: repeat(3, 1fr);
    }
}