.contactSection {
    color: #333;
    padding: 4rem 8rem;
    text-align: center;
    background-color: var(--secondary-color);
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .info {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  
  .highlight {
    color: #333;
    font-weight: bold;
  }
  
  .form {
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #e53935;
  }

  .contactLinks {
    background-color: #25d366;
    width: max-content;
    padding: 0.7rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    margin-right: auto;
  }

  .whatsappIcon {
    font-size: 1.3rem;
    fill: var(--white);
    overflow: visible;
  }

.form input{
    background-color: var(--background-light);
  }
  
  .inputGroup {
    display: flex;
    gap: 10px; 
  }
  
  .inputGroup input {
    flex: 1;
    background-color: var(--background-light);
    color: #000;

  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    transition: all 0.3s ease;
  }

  input:focus, textarea:focus{
    border-color: #53a8e0;
    outline: none; 
  }
  
  textarea {
    resize: none;
    height: 100px;
    background-color: var(--background-light);

  }
  
.button {
  background-color: var(--secondary-color);
  color: #1d1e20;
  font-size: 1.2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #424242; /* Gris oscuro */
  color: white;
  }
  
  .success {
    color: green;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .error {
    color: #53a8e0;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  @media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 50px; 
      }
    
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: justify;
        font-size: 1.3rem;
        max-width: 80%;
        font-weight: bold;
      }
    
      .form {
        flex: 1;
        max-width: 600px;
      }
    }

/* Estilos del checkbox */
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.checkboxContainer input {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.checkboxError {
  border-color: #53a8e0 !important;
  box-shadow: 0 0 5px #53a8e0;
}

.privacyLink {
  color: #ebcc1d;
  text-decoration: underline;
  cursor: pointer;
}

.privacyLink:hover {
  color: #53a8e0;
}

/* Mensaje de error */
.errorText {
  color: #53a8e0;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeInSlide 0.5s forwards;
}

/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.modalOverlay.closing {
  opacity: 0;
}


/* Animación de aparición */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación de cierre */
.modalClosing {
  animation: fadeOutSlide 0.5s forwards;
}

@keyframes fadeOutSlide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
