.contactSection {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 4rem 8rem;
    text-align: center;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  
  .highlight {
    color: var(--white);
    font-weight: bold;
  }
  
  .form {
    border-radius: 8px;
    width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.form input{
    background-color: var(--background-light);
  }
  
  .inputGroup {
    display: flex;
    gap: 10px; 
  }
  
  .inputGroup input {
    flex: 1;
    background-color: var(--background-light);
    color: #000;

  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
    transition: all 0.3s ease;
  }

  input:focus, textarea:focus{
    border-color: #d4a800;
    outline: none; 
  }
  
  textarea {
    resize: none;
    height: 100px;
    background-color: var(--background-light);

  }
  
  .button {
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 1.2rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background-color: #d4a800;
  }
  
  .success {
    color: green;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  @media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 50px; 
      }
    
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        font-size: 1.3rem;
        max-width: 80%;
        font-weight: bold;
      }
    
      .form {
        flex: 1;
        max-width: 600px;
      }
    }

    .whatsappIcon {
        width: 1.3rem;
        height: 1.3rem;
        fill: rgb(255, 255, 255);
      }
  
      .contactWrapper:hover .whatsappIcon {
        fill: #25D366;
        cursor: pointer;
      }
      
      .contactWrapper:hover .highlight {
        color: #25D366;
        cursor: pointer;
      }

      .emailContact a{
        color: var(--white);
      }

      .emailContact a:hover{
        color: #d4a800;
        cursor: pointer;
      }